<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Connection | VoizFonica </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboardStyle.css}">
</head>
<body>
<nav class="navbar navbar-inverse visible-xs">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li ><a href="dashboard">Dashboard</a></li>
                <li><a href="profile">Profile</a></li>
                <li class="active"><a href="#">New Connection</a></li>
                <li><a href="unsubscribe">Unsubsricbe</a></li>
                <li><a href="/">Logout</a></li>

            </ul>
        </div>
    </div>
</nav>
<br><br>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
            <br>
            <img src = "images/logo-small.png" height = "150px" width = "150px" > <br><br>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="dashboard">Dashboard</a></li>
                <li><a href="profile">Profile</a></li>
                <li class="active"><a href="#">New Connection</a></li>
                <li><a href="unsubscribe">Unsubsricbe</a></li>
                <li><a href="/">Logout</a></li>

            </ul>
        </div>

        <div class="col-sm-8">
            <div class="well">

                <table align ="center"  width=82%>
                    <tr>
                        <td align ="center" ><a href = "postPaid"><img src="images/postpaid.png"  style="width:50%;"></a></td>
                        <td align ="center" ><a href = "prePaid"> <img src="images/prepaid.png" style="width:50%;"></a></td>
                        <td align ="center" ><a href = "dongle"><img src="images/dongle.jpg"  style="width:50%;"></a></td>
                    </tr>
                </table>
                <br>
                <table align ="center"  width=82%>
                    <tr>
                        <td align ="center"><a class="btn btn-primary btn-lg" href="postPaid" role="button">Postpaid</a></td>
                        <td align ="center"><a class="btn btn-primary btn-lg" href="prePaid" role="button">Prepaid</a></td>
                        <td align ="center"><a class="btn btn-primary btn-lg" disabled href="dongle" role="button">Dongle</a></td>
                    </tr>
                </table>
            </div>
        </div>

</body>
</html>
